.jumbotron p , h1 {text-align: center;}
.jumbotron h1 {color: #517B54;}

/*.border-right {border-right: 1px solid black;}*/

#myCarousel {margin-top: 51px;}

footer {
   height: 60px;
    width: 100%;
    background-color:#566257; 
      border-top: 1px solid #E2EBE5;
      color: #eee;
}

.f-content{padding-top: 15px; display: inline-block;}
.f-content a {color: #eee; }

.row-1 p {text-align: right center; padding-left:40%; padding-right: 10%; font-size: 18px;}
.row-1 h2 {padding-left: 10%; color: #517B54;}